{% extends 'admin/admin-layout.twig' %}

{% block content %}
<div>
    <form id="offerForm" action="/admin/{{ lang }}/teacher/create" method="post" enctype="multipart/form-data">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Element</th>
                    <th scope="col">Zawartość</th>
                </tr>
            </thead>
            <tbody id="data">
                <tr>
                    <th scope="col">Imię i nazwisko</th>
                    <td><input id="fullName" class="form-control" type="text" name="full_name" value=""></td>
                </tr>
                <tr>
                    <th scope="col">Stanowisko</th>
                    <td><input id="position" class="form-control" type="text" name="position" value=""></td>
                </tr>
                <tr>
                    <th scope="col">Specjalizacja</th>
                    <td><input id="specialization" class="form-control" type="text" name="specialization" value=""></td>
                </tr>
                <tr>
                    <th scope="col">Zdjęcie</th>
                    <td>
                        <input id="img" class="form-control" type="file" name="img">
                    </td>
                </tr>
                <tr>
                    <th scope="col">Zdjęcie - thumbnail/square</th>
                    <td>
                        <input id="img_thumbnail" class="form-control" type="file" name="img_thumbnail">
                    </td>
                </tr>
                <tr>
                    <th scope="col">Opis</th>
                    <td><textarea id="longDesc" class="form-control" name="long_desc" cols="100"></textarea></td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="submitForm(this)">Utwórz</button>
    </form>
</div>
<!-- End of Container -->

<!-- textarea function -->
<script>
    const tx = document.getElementsByTagName('textarea');
    for (let i = 0; i < tx.length; i++) {
        tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;');        
        tx[i].addEventListener("input", OnInput, false);
    }

    function OnInput() {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    }

</script>

<script>
    function submitForm() {
        const element = document.getElementById("offerForm");
        element.submit();
    }
</script>


{% endblock %}
