{% extends 'layout.twig' %}
{% block content %}
    <!-- Black Friday -->
    <section id="about" class="introduction scrollto">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3>Specjalnie dla Ciebie</h3>
                    <h2 class="section-title">Tylko teraz<br>BLACK FRIDAY 2020</h2>
                    <p><img src="/images/oferta-ikony/friday.jpg" /></p>
                </div>
            </div>
            <div class="col-2-3 alignToPhoto">
                <p>W tym roku promocja trwa cały listopad!</p>
                <p>Nasza szkoła oferuje specjalny program dla dzieci i dorosłych, którzy chcieliby spełnić marzenie i rozpocząć naukę od podstaw oraz dla już grających.</p>
                <p>NIE MUSISZ MIEĆ SWOJEGO INSTRUMENTU! Tylko u nas w szkole nie trzeba mieć swojego instrumentu. Możecie Państwo spróbować zagrać na naszym saksofonie lub wiolonczeli.</p>
                <p>Wszystkie lekcje są INDYWIDUALNE, na żywo w centrum Warszawy oraz online! Od poniedziałku do soboty w godzinach 9:00-22:00!</p>
                <a href=" https://youtu.be/r6ThuFthhsE "> Zobacz 2 minutowy film o nas na YT</a></p>
                <p>Mamy specjalnie przygotowany program dla osób dorosłych, które chcą rozpocząć przygodę z muzyką od podstaw – m.in. tematy z dzieł klasycznych, muzyka filmowa, jazz.</p>
                <p>Nasi nauczyciele, absolwenci Akademii Muzycznych, mają innowacyjne i skutecznie metody, wprowadzają w fascynujący świat muzyki z pasją, bez stresu. GWARANTUJEMY DOŚWIADCZENIE, bo nasza szkoła istnieje w Warszawie już 25 lat!</p>
                <p><b>Do wyboru:</b></p>
                <ul>
                    <li>fortepian</li>
                    <li>saksofon</li>
                    <li>wiolonczela</li>
                    <li>ukulele</li>
                    <li>gitara klasyczna i elektryczna</li>
                    <li>śpiew klasyczny i rozrywkowy</li>
                </ul>
                <p><b>Specjalna cena!</b></p>
                <p>1 lekcja tylko 39zł</p>
                <p>promocja obowiazuje na lekcje stacjonarne w Warszawie oraz lekcje online.</p>
                <p>Jedna osoba moze zakupić i wykorzystać maksymalnie 4 lekcje.</p>
                <p>Terminy zajęć są ustalane indywidualnie.</p>
                <p>Dbamy o bezpieczeństwo - sale są komfortowe, przestronne 30-40m2 co pozwala zachować bezpieczny dystans.</p>

                <p><b>Nie czekaj, zadzwoń już dziś</b> 883 489 184
                <br> lub napisz: <a href="mailto:sekretariat@konwersatoriummuzyczne.pl">sekretariat@konwersatoriummuzyczne.pl</a> i podaj hasło - blak friday - i zarezerwuj swoją lekcje w specjalnej cenie!</p>
            </div>
        </div>
    </section>
    <!-- Offer Main -->
    {{ include('offer-main.twig') }}
    <!--End of Offer Main -->

    <!-- End of Black Friday -->
{% endblock %}