{% extends 'layout.twig' %}
{% block content %}
    <!-- Offer Details -->
    <section id="about" class="introduction scrollto">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3>Specjalna oferta</h3>
                    <h2 class="section-title">SUPER PAKIET<br>gitara + lekcje</h2>
                    <p><img src="/images/oferta-ikony/gitaradodomu.jpg" /></p>
                </div>
            </div>
            <div class="col-2-3 alignToPhoto">
                <p><a href=" https://youtu.be/i9VzaYrRTWo " target="_blank"> Zobacz 2 minutowy film o naszej klasie gitary na YT</a></p>
                <p>Nasza szkoła oferuje specjalny program dla dzieci i dorosłych, którzy chcieliby spełnić marzenie i rozpocząć naukę od podstaw oraz dla już grających.</p>
                <p>NIE MUSISZ MIEĆ SWOJEGO INSTRUMENTU! Tylko u nas nie trzeba mieć swojego instrumentu. W pakiecie wraz z lekcjami jest instrument gitara, na własność dla Państwa, którą dostarcza kurier pod same drzwi domu!</p>
                <p>Wszystkie lekcje są INDYWIDUALNE, na żywo w centrum Warszawy oraz online! Od poniedziałku do soboty w godzinach 9:00-22:00!</p>
                <p>Mamy specjalnie przygotowany program dla osób dorosłych, które chcą rozpocząć przygodę z muzyką od podstaw – m.in. tematy z dzieł klasycznych, muzyka filmowa, jazz.</p>
                <p>Nasi nauczyciele, absolwenci Akademii Muzycznych, mają innowacyjne i skutecznie metody, wprowadzają w fascynujący świat muzyki z pasją, bez stresu. GWARANTUJEMY DOŚWIADCZENIE, bo nasza szkoła istnieje w Warszawie już 25 lat!</p>
                <p><b>Pakiet obejmuje:</b></p>
                <p>- 1 gitarę klasyczną - rozmiar dostosowujemy do ucznia dziecka lub osoby dorosłej</p>
                <p>- 4 indywidualne lekcje z nauczycielem</p>
                <p>Koszt całości 790zł wraz z dostawą instrumentu kurierem do domu, na terenie Polski.</p>
                <p>Terminy zajęć są ustalane indywidualnie</p> 
                <p><b>TO ZNAKOMITY POMYSŁ NA PREZENT!</b></p>
                <p>Dbamy o bezpieczeństwo - sale są komfortowe, przestronne 30-40m2 co pozwala zachować bezpieczny dystans.</p>
                <p>Lekcje online odbywają się na platformie Zoom lub przez Skype.</p>
                <p>ILOŚĆ MIEJSC OGRANICZONA</p>
                <p><b>Nie czekaj, zadzwoń już dziś</b> 883 489 184<br>
                    lub napisz: <a href="mailto:sekretariat@konwersatoriummuzyczne.pl">sekretariat@konwersatoriummuzyczne.pl</a> i zacznij grać na gitarze!</p>
			</div>

            <!-- Offer -->
            {{ include('offer-main.twig') }}
        </div>
    </section>
    <!-- End of Offer Details -->
{% endblock %}
