<section class="row text-center scrollto clearfix">
    <!--Gallery-->
    <div class="col-3 wow fadeIn" data-wow-delay="0.2s" style="padding: 0;">		
        <!-- (1) video wrapper -->
        <div class="youtube-img-container" data-youtubeid="00YvhMSgSpc">
            <!-- (2) the "play" button -->
            <div class="play-button">
                <img src="/images/movie-gallery/playButton.png" alt="playButton">
            </div>
        </div>
    </div>
    <div class="col-3 wow fadeIn" data-wow-delay="0.4s" style="padding: 0;">		
        <!-- (1) video wrapper -->
        <div class="youtube-img-container" data-youtubeid="mm4N45J7HEc">
            <!-- (2) the "play" button -->
            <div class="play-button">
                <img src="/images/movie-gallery/playButton.png" alt="playButton">
            </div>
        </div>
    </div>
    <div class="col-3 wow fadeIn" data-wow-delay="0.7s" style="padding: 0;">		
        <!-- (1) video wrapper -->
        <div class="youtube-img-container" data-youtubeid="wN02At4vOiE">
            <!-- (2) the "play" button -->
            <div class="play-button">
                <img src="/images/movie-gallery/playButton.png" alt="playButton">
            </div>
        </div>
    </div>				
    <div class="col-3 wow fadeIn" data-wow-delay="1.8s" style="padding: 0;">		
        <!-- (1) video wrapper -->
        <div class="youtube-img-container" data-youtubeid="juCfsF0muLs">
            <!-- (2) the "play" button -->
            <div class="play-button">
                <img src="/images/movie-gallery/playButton.png" alt="playButton">
            </div>
        </div>
    </div>
    <div class="col-3 wow fadeIn" data-wow-delay="1.5s" style="padding: 0;">		
        <!-- (1) video wrapper -->
        <div class="youtube-img-container" data-youtubeid="i9VzaYrRTWo">
            <!-- (2) the "play" button -->
            <div class="play-button">
                <img src="/images/movie-gallery/playButton.png" alt="playButton">
            </div>
        </div>
    </div>
    <div class="col-3 wow fadeIn" data-wow-delay="1.2s" style="padding: 0;">		
        <!-- (1) video wrapper -->
        <div class="youtube-img-container" data-youtubeid="2Y2S53fduqc">
            <!-- (2) the "play" button -->
            <div class="play-button">
                <img src="/images/movie-gallery/playButton.png" alt="playButton">
            </div>
        </div>
    </div>				
    <!--End of Gallery-->

    <!--Modal-->
    <div id="myModal" class="modal padding-150">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            <div id="iframe-modal" class="iframe-container">
            </div>
        </div>
    </div>
    <!--End of Modal-->

</section>

