{% extends 'layout.twig' %}
{% block content %}
    <!-- Offer Details -->
    <section id="about" class="introduction scrollto">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3>Warsztaty</h3>
                    <h2 class="section-title">Ukulele dla dzieci od podstaw</h2>
                    <p><img src="/images/oferta-specjalne/ukulele.jpg" /></p>
                </div>
            </div>
            <div class="col-2-3 alignToPhoto">
                <p>Twoje dziecko lubi muzykę? Ukulele? Podaruj radość grania! Zapraszamy w sobotę 20 lutego 2021 na wyjątkowy dzień otwarty dla dzieci, już od 5 roku życia.</p>
                <p><b>ZAPEWNIAMY INSTRUMENTY</b></p>
                <p>Mamy specjalny program dla dzieci, od podstaw, które wcześniej nigdy nie grały. W ramach warsztatów, odbędą się indywidualne lekcje gry na ukulele. Tego dnia każde dziecko będzie mogło spróbować zagrać na tym niezwykłym malutkim instrumencie, w którym kryją się ogromne możliwości.</p>
                <p>Zajęcia odbywają się w centrum Warszawy. Przestronne sale 30m2 pozwalają zachować bezpieczny dystans.</p>
                <p><b>ILOŚĆ MIEJSC OGRANICZONA</b></p>
                <p>Jak to zrobić? To proste!</p>
                <ol>
                    <li>napisz lub zadzwoń</li>
                    <li>kup 1 lekcję i wybierz godzinę</li>
                    <li>ciesz się muzyką!</li>
                </ol>
                <p>Podaruj dziecku muzykę, podaruj emocje!</p>
                <p>Cena lekcji: 39zł</p>
                <p><b>Nie czekaj, zadzwoń już dziś</b> 883 489 184<br>
                    lub napisz: <a href="mailto:sekretariat@konwersatoriummuzyczne.pl">sekretariat@konwersatoriummuzyczne.pl</a>
                </p>
			</div>


            <!-- Offer -->
            {{ include('offer-main.twig') }}
        </div>
    </section>
    <!-- End of Offer Details -->
{% endblock %}
