{% extends 'layout.twig' %}
{% block content %}
    <!-- Offer Details -->
    <section id="about" class="introduction scrollto">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3>Warsztaty</h3>
                    <h2 class="section-title">Wiolonczela dla dorosłych od podstaw</h2>
                    <p><img src="/images/oferta-specjalne/wiolonczela.jpg" /></p>
                </div>
            </div>
            <div class="col-2-3 alignToPhoto"> 
                <p>Zawsze chciałaś spróbować grać? Nie było czasu, możliwości? Spełnij marzenia i zacznij grać! Zapraszamy 20 lutego 2021 na wyjątkowy dzień otwarty dla dorosłych.</p>
                <p><b>ZAPEWNIAMY INSTRUMENT</b></p>
                <p>Mamy specjalny program dla osób dorosłych, od podstaw, które wcześniej nigdy nie grały. W ramach warsztatów, odbędą się indywidualne lekcje gry na wiolonczeli. Tego dnia każda chętna osoba będzie mogła spróbować zagrać na tym niezwykłym instrumencie.</p>
                <p>Zajęcia odbywają się w centrum Warszawy. Przestronne sale 30m2 pozwalają zachować bezpieczny dystans.</p>
                <p><b>ILOŚĆ MIEJSC OGRANICZONA</p></b>
                <p>Jak to zrobić? To proste!</p>
                <ol>
                    <li>napisz lub zadzwoń</li>
                    <li>kup 1 lekcję i wybierz godzinę</li>
                    <li>ciesz się muzyką!</li>
                </ol>
                <p>Zrób coś dla siebie, spełnij marzenia!</p>
                <p>Cena lekcji: 39zł</p>
                <p><b>Nie czekaj, zadzwoń już dziś</b> 883 489 184<br>
                    lub napisz: <a href="mailto:sekretariat@konwersatoriummuzyczne.pl">sekretariat@konwersatoriummuzyczne.pl</a>
                </p>
                <p>Zobacz 2 minutowy film o naszej klasie wiolonczeli na YouTube</p>
                <div class="wow fadeInUp" data-wow-delay="0.4s">
                    <div class="iframe-container">
                        <iframe src="https://www.youtube.com/embed/wN02At4vOiE?&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
			</div>
            <br>


            <!-- Offer -->
            {{ include('offer-main.twig') }}
        </div>
    </section>
    <!-- End of Offer Details -->
{% endblock %}
