<!DOCTYPE html>
<html lang="pl-PL">
    <head>
    <meta charset="UTF-8">
        <!--Page Title-->
        <title> | Konwersatorium Muzyczne</title>
        <!--Meta Keywords and Description-->
        <meta name="keywords" content="fortepian, śpiew, nauczyciel, nauka gry dla dzieci, nauka gry dla dorosłych, pianino, centrum warszawy, aleje jerozolimskie">
        <meta name="description" content="Kreatywna szkoła rozbudzająca miłość do muzyki dla dzieci i dorosłych. Zapraszamy!">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <!--Favicon-->
        <link rel="shortcut icon" href="/images/favicon.ico" title="Favicon" />
        <!-- Main CSS Files -->
        <!--TODO: add version of css: <link rel="stylesheet" href="/css/style.css?v= filemtime("/css/style.css") "> -->
        <link rel="stylesheet" href="/css/style-v20210116.css">
        <!-- Namari Color CSS -->
        <link rel="stylesheet" href="/css/namari-color.css">
        <!--Icon Fonts - Font Awesome Icons-->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <script src="https://kit.fontawesome.com/f7a1bd4acc.js" crossorigin="anonymous"></script>
        <!-- Animate CSS-->
        <link href="/css/animate.css" rel="stylesheet" type="text/css">
        <!--Google Webfonts-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <!-- Preloader -->
        {{ include('templates/preloader.twig') }}
        <!-- End of Preloader -->
        {{ include('templates/page-border.twig') }}
        <!-- Page Boarder -->

        <!-- End of Page Boarder -->

        <!--Wrapper-->
        <div id="wrapper">
              
            <!--Banner Content-->
            {% block banner %}{% endblock %}
            <!--End of Banner Content -->

            <!--Main Content Area-->
            <main id="content">
                <!-- Offer Details -->
                <section id="about" class="introduction scrollto">
                    <div class="row clearfix">
                        <div class="col-3">
                            <div class="section-heading">
                                <h3>Szkolenie</h3>
                                <h2 class="section-title">Woman Business Club</h2>
                                <p><img src="/images/oferta-specjalne/wbc-warsztaty.jpg" /></p>
                            </div>
                        </div>
                        <div class="col-2-3 alignToPhoto">
                            <p>Prowadzisz biznes? Myślisz o założeniu? Chcesz pozyskać klientów ale nie wiesz jak? Szukasz partnerów biznesowych? A może czujesz, że stoisz w miejscu i się nie rozwijasz?</p>
                            <p>Przyjdź na szkolenie i rozwiń  skrzydła.</p>
                            <p>W kameralnej grupie kobiet naładuj swoje akumulatory pozytywną energią i optymizmem.</p>
                            <p>Poznaj niestandardowe możliwości wyjścia do ludzi w dobie zamknięcia i wyjdź ze swojej strefy komfortu.</p>
                            <p>Masz w sobie siłę, która burzy mury musisz tylko uwierzyć w siebie a ze wsparciem podobnych Tobie kobiet będzie to łatwe.</p>
                            <p>Grupa składa się z 8 kobiet i łączy element networkingu oraz sesji mastermind.</p>
                            <p>W trakcie sesji trwającej ok 2 godzin będziemy rozwiązywać problemy, wykonywać zadania i szukać niestandardowych rozwiązań i pomysłów. Stworzymy społeczność, która będzie Cię wspierać i pomagać a nie ciągnąć w dół. Szkolenie nie kończy jednak naszej współpracy. Otrzymasz gratis w postaci możliwości korzystania z sieci społeczności Woman Business Club, ze sprawdzonych narzędzi, wzajemnej współpracy, opiekę mentora.</p>
                            <p>Woman Business Club to miejsce stworzone przez kobiety dla kobiet, które wspiera kobiety. Bądź jedną z nas.</p>
                            <p><b>ILOŚĆ MIEJSC OGRANICZONA, TYLKO 8!</b><br>
                            Cena: 99zł<br>
                            CZAS trwania 2h</p>
                            <p><b>GDZIE:</b><br>
                            Konwersatorium Muzyczne<br>
                            Aleje Jerozolimskie 53<br>
                            Warszawa</p>
                            <p><b>KIEDY:</b><br>
                            15 marca 2021,<br>
                            poniedziałek o 19:00</p>
                            <p><b>SZCZEGÓŁY I INFORMACJE:</b><br>
                            609 184 428</p>
                            <p><b>ZAPISZ SIĘ JUŻ DZIŚ!</b></p>
                            <p><b>PROWADZĄCE:</b><br>
                            Izabela Kulińska – radca prawny właścicielka kancelarii, Bogna Kołodziej – właścicielka szkoły muzycznej. Połączyła nas epidemia i pasja. Obie pracujemy ponad 15 lat w Polce i mamy doświadczenie w prowadzeniu biznesu w tej rzeczywistości. Połączenie realizmu oraz kreatywności dało mieszankę wybuchową, z której zrodził się pomysł miejsca tylko dla kobiet, w którym będą sobą i odważą się realizować swoje marzenia.</p>
                        </div>
                    </div>
                </section>
                <!-- End of Offer Details -->
            </main>
            <!--End Main Content Area-->

        </div>
        <!--End of Wrapper-->
        <!-- Include JavaScript resources -->
        <script src="/js/jquery.1.8.3.min.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/featherlight.min.js"></script>
        <script src="/js/featherlight.gallery.min.js"></script>
        <script src="/js/jquery.enllax.min.js"></script>
        <script src="/js/jquery.scrollUp.min.js"></script>
        <script src="/js/jquery.easing.min.js"></script>
        <script src="/js/jquery.stickyNavbar.min.js"></script>
        <script src="/js/jquery.waypoints.min.js"></script>
        <script src="/js/images-loaded.min.js"></script>
        <script src="/js/site.js"></script>
        <script src="/js/contact.js"></script>
        <script src="/js/stats.js"></script>
        <script src="/js/youtube-modal.js"></script>
    </body>
</html>





