<!DOCTYPE html>
<html lang="pl-PL">
    <head>
    <meta charset="UTF-8">
        <!--Page Title-->
        <title> | Konwersatorium Muzyczne</title>
        <!--Meta Keywords and Description-->
        <meta name="keywords" content="fortepian, śpiew, nauczyciel, nauka gry dla dzieci, nauka gry dla dorosłych, pianino, centrum warszawy, aleje jerozolimskie">
        <meta name="description" content="Kreatywna szkoła rozbudzająca miłość do muzyki dla dzieci i dorosłych. Zapraszamy!">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <!--Favicon-->
        <link rel="shortcut icon" href="/images/favicon.ico" title="Favicon" />
        <!-- Main CSS Files -->
        <!--TODO: add version of css: <link rel="stylesheet" href="/css/style.css?v= filemtime("/css/style.css") "> -->
        <link rel="stylesheet" href="/css/style-v20210116.css">
        <!-- Namari Color CSS -->
        <link rel="stylesheet" href="/css/namari-color.css">
        <!--Icon Fonts - Font Awesome Icons-->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <script src="https://kit.fontawesome.com/f7a1bd4acc.js" crossorigin="anonymous"></script>
        <!-- Animate CSS-->
        <link href="/css/animate.css" rel="stylesheet" type="text/css">
        <!--Google Webfonts-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <!-- Preloader -->
        {{ include('templates/preloader.twig') }}
        <!-- End of Preloader -->
        {{ include('templates/page-border.twig') }}
        <!-- Page Boarder -->

        <!-- End of Page Boarder -->

        <!--Wrapper-->
        <div id="wrapper">
              
            <!--Banner Content-->
            {% block banner %}{% endblock %}
            <!--End of Banner Content -->

            <!--Main Content Area-->
            <main id="content">
                <!-- Offer Details -->
                <section id="about" class="introduction scrollto">
                    <div class="row clearfix">
                        <div class="col-3">
                            <div class="section-heading">
                                <h3>Szkolenie</h3>
                                <h2 class="section-title">Woman Business Club</h2>
                                <p><img src="/images/oferta-specjalne/wbc-warsztaty-2.jpg" /></p>
                            </div>
                        </div>
                        <div class="col-2-3 alignToPhoto">
<p>Epidemia pokazała nam jak bardzo ważne i potrzebne jest wsparcie w kobiecym gronie. Pokazała też jak bardzo kobiety są kreatywne i pomysłowe w tych dziwnych czasach. To wszystko świadczy o naszej sile, możliwościach działania i wspólnej kobiecej solidarności.</p>
<p>Dzięki tym spotkaniom zyskasz nowe możliwości i nowe znajomości. Poznasz osoby, które chcą zmieniać świat. Którym się chce. Czasami  potrzebujemy kontaktu z osobami, które pokażą nam nowe możliwości, spojrzą z innej perspektywy, dodadzą siły i energii potrzebnej do działania. </p>

<p><b>NASZ NETWORKING jest oparty na 3 filarach:</b></p>
<ol>
<li>Możemy być swoimi klientami</li>
<li>Nasi klienci mogą być Waszymi</li>
<li>Razem możemy stworzyć nowe sposoby działania</li>
</ol>
<p>Nasze biznesowe spotkania w kameralnym gronie pokazują ze nie musimy być dla siebie konkurencją tylko wsparciem.</p>

<p><b>DLA KOGO są nasze spotkania?</b><br>
Dla początkujących i prowadzących firmy oraz dla kobiet myślących o własnym biznesie.</p>

<p><b>KIEDY</b><br>
Poniedziałek 19:00-21:00</p>

<p><b>MIEJSCE</b><br>
Zapraszamy do Konwersatorium Muzycznego, którego właścicielem jest Bogna Kołodziej
W samym sercu Stolicy
Aleje Jerozolimskie 53
Warszawa</p>

<p><b>ILOŚĆ MIEJSC OGRANICZONA</b><br>
Cena: 39zł</p>

<p><b>ZAPISY i INFORMACJE</b><br>
kontakt@womanbc.com
609 184 428</p>

<p><b>PROWADZĄCE:</b><br>
Izabela Kulińska – radca prawny, Bogna Kołodziej – właścicielka szkoły muzycznej.
Połączyła nas epidemia i pasja. Obie pracujemy ponad 15 lat w Polce i mamy doświadczenie w prowadzeniu biznesu w tej rzeczywistości. Połączenie realizmu oraz kreatywności dało mieszankę wybuchową, z której zrodził się pomysł miejsca tylko dla kobiet, w którym będą sobą i odważą się realizować swoje marzenia.</p>

                        </div>
                    </div>
                </section>
                <!-- End of Offer Details -->
            </main>
            <!--End Main Content Area-->

        </div>
        <!--End of Wrapper-->
        <!-- Include JavaScript resources -->
        <script src="/js/jquery.1.8.3.min.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/featherlight.min.js"></script>
        <script src="/js/featherlight.gallery.min.js"></script>
        <script src="/js/jquery.enllax.min.js"></script>
        <script src="/js/jquery.scrollUp.min.js"></script>
        <script src="/js/jquery.easing.min.js"></script>
        <script src="/js/jquery.stickyNavbar.min.js"></script>
        <script src="/js/jquery.waypoints.min.js"></script>
        <script src="/js/images-loaded.min.js"></script>
        <script src="/js/site.js"></script>
        <script src="/js/contact.js"></script>
        <script src="/js/stats.js"></script>
        <script src="/js/youtube-modal.js"></script>
    </body>
</html>





