{% extends 'layout.twig' %}
{% block content %}
    <!-- Offer Details -->
    <section id="about" class="introduction scrollto">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3>Workshops</h3>
                    <h2 class="section-title">Online guitar classes for adults from scratch</h2>
                    <p><img src="/images/oferta-specjalne/en_gitara.jpg" /></p>
                </div>
            </div>
            <div class="col-2-3 alignToPhoto">
<p>Have you always wanted to play? There was no time, no possibilities? Make your dreams come true and start learning!</p>
<p>We have a special program for adults who never played before. There will be individual guitar lessons via Zoom available to you and others interested.</p>
<p><b>LIVE, INDIVIDUAL CLASSES, also from scratch!</b></p>
<p>How to do it? It's easy!</p>
<ol>
    <li>Sign up! Write an email <a href="mailto:onlineclasses@konwersatoriummuzyczne.pl">onlineclasses@konwersatoriummuzyczne.pl</a></li>
    <li>Buy 1 lesson</li>
    <li>Choose a time</li>
</ol>
<p>Do something for yourself, make your dreams come true! Online classes are an effective and safe form of learning.</p>
<p><b>A special price for you - one lesson for 29CHF! Only now!</b></p>
<p>You can choose other currencies- AUD, CAD, CHF, DKK, EUR, GBP, NOK, SEK, USD.</p>
<p>Lessons are available in English</p>
                
                <!--
                <div>
                    <a href="https://www.facebook.com/KonwersatoriumMuzyczne/posts/4025409057489637">Sign up now via Facebook                          
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-square fa-stack-2x" style="color: #3b5998"></i>
                            <i class="fab fa-facebook fa-stack-1x fa-color"></i>
                        </span>
                    </a>
                </div>
                -->
                
			</div>

            <!-- Offer -->
            {{ include('offer-main.twig') }}
        </div>
    </section>
    <!-- End of Offer Details -->
{% endblock %}
