{% extends 'layout.twig' %}
{% block content %}
    <!-- Offer Details -->
    <section id="about" class="introduction scrollto">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3>Warsztaty</h3>
                    <h2 class="section-title">Lekcja saksofonu dla dorosłych + Saxholder GRATIS!</h2>
                    <p><img src="/images/oferta-specjalne/saksofon_saxholder.jpg" /></p>
                </div>
            </div>
            <div class="col-2-3 alignToPhoto">
<p>Lubisz grać? Saksofon to Twoja pasja? Spróbuj komfortowego rozwiązania, które odciąża szyję – SaxHolder może być Twój! Zapraszamy w sobotę 27 lutego 2021 na wyjątkowy dzień otwarty dla dorosłych.</p>
<p><b>ZAPEWNIAMY INSTRUMENT, a SaxHolder otrzymasz GRATIS!</b></p>
<p>Mamy specjalny program dla osób dorosłych, które już trochę grają i chciałyby pogłębić wiedzę pod okiem doświadczonego nauczyciela. W naszej szkole uczymy improwizacji na saksofonie, jazzu, bluesa, salsy oraz oczywiście klasyki. W ramach warsztatów, odbędą się indywidualne lekcje gry na saksofonie. Tego dnia każdy chętna osoba będzie mogła spróbować zagrać na tym niezwykłym instrumencie, poznać nauczyciela i zobaczyć jak wyglądają lekcje w naszej szkole. Zajęcia odbywają się w centrum Warszawy. Przestronne sale 30m2 pozwalają zachować bezpieczny dystans.</p>
<p><b>ILOŚĆ MIEJSC OGRANICZONA</b></p>
<p>Jak to zrobić? To proste!</p>
<ol>
    <li>napisz <a href="mailto:sekretariat@konwersatoriummuzyczne.pl">sekretariat@konwersatoriummuzyczne.pl</a> lub zadzwoń 883 489 184</li>
    <li>kup 1 lekcję i wybierz godzinę</li>
    <li>ciesz się muzyką!</li>
</ol>
<p>Cena lekcji: 149zł*</p>
<p>*SaxHolder otrzymają Państwo GRATIS</p>
<p>Zrób coś dla siebie, spełnij marzenia</p>
			</div>

            <!-- Offer -->
            {{ include('offer-main.twig') }}
        </div>
    </section>
    <!-- End of Offer Details -->
{% endblock %}
