{% extends 'layout.twig' %}
{% block content %}
    <!-- Offer Details -->
    <section id="about" class="introduction scrollto">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3>Walentynkowy Prezent</h3>
                    <h2 class="section-title">Lekcja gitary</h2>
                    <p><img src="/images/oferta-specjalne/valentinesday_1.jpg" /></p>
                </div>
            </div>
            <div class="col-2-3 alignToPhoto">
<p>W Walentynki podaruj Ukochanemu wyjątkowy prezent – lekcje gitary. Muzyka i miłość to emocje. Zapraszamy 13 lutego 2021 na wyjątkowy walentynkowo-gitarowy dzień.</p>
<p><b>ZAPEWNIAMY INSTRUMENTY</b><br>Gitara klasyczna, elektryczna i ukulele.</p>
<p>Mamy specjalny program dla osób dorosłych, które zawsze marzyły, aby grać ale zabrakło czasu oraz dla osób zaawansowanych. Zajęcia są indywidualne w centrum Warszawy. Przestronne sale 30m2 pozwalają zachować bezpieczny dystans.</p>
<p>Jak to zrobić? To proste!</p>
<ol>
    <li>napisz lub zadzwoń</li>
    <li>kup 1 lekcję i wybierz godzinę</li>
    <li>otrzymasz mejlem elegancki voucher Walentynkowy.</li>
</ol>
<p>Podaruj emocje, podaruj muzykę.</p>
<p>Cena: 99zł/ lekcja 50 minut</p>
<p><b>Nie czekaj, zadzwoń już dziś</b> 883 489 184<br>
    lub napisz: <a href="mailto:sekretariat@konwersatoriummuzyczne.pl">sekretariat@konwersatoriummuzyczne.pl</a>
</p>
<p>Zobacz 2 minutowy film o naszej klasie gitary na YouTube</p>
<div class="wow fadeInUp" data-wow-delay="0.4s">
    <div class="iframe-container">
        <iframe src="https://www.youtube.com/embed/i9VzaYrRTWo?&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
			</div>
            <br>


            <!-- Offer -->
            {{ include('offer-main.twig') }}
        </div>
    </section>
    <!-- End of Offer Details -->
{% endblock %}
