<header id="banner" class="scrollto clearfix landing-page" data-enllax-ratio=".5">
    <div id="banner-content" class="row clearfix transp-background">
        <div class="col-38">
            <div class="section-heading">
                <h1>Konwersatorium Muzyczne</h1>
                <h2>Kreatywna szkoła rozbudzająca miłość do muzyki dla dzieci, dorosłych i seniorów.<br><b>PODCZAS EPIDEMII<br>WSZYSTKIE ZAJECIA ONLINE</b></h2>
            </div>
            <!--Call to Action-->
            <a href="#kontakt" class="button color-white border-gold" id="call-to-action">Spróbuj i umów się<br />na pierwszą lekcję!</a>
            <!--End Call to Action-->
        </div>
    </div>
</header>

