{#
    // for the JavaScript menu scroll to work
    //                $a = '';
    // TODO: check the following code, especially $a = '/index.php';. configure htaccess and apache
    //                if ($_SERVER['PHP_SELF'] != '/index.php') {
    //                    $a = '/index.php';
    //                }

#}

<div id="header" class="nav-collapse">
    <div class="row clearfix">
        <div class="col-1">
            <div id="logo">
                <a href="/{{ lang }}"><img src="/images/logo-mini.png" id="navigation-logo" alt="Landing Page" /></a>
            </div>
            <aside>
                <!--Social Icons in Header-->
                <ul class="social-icons">
                    <li>
                        <a title="Dla Polskich Studentów" href="/pl">
                            <img src="/images/flags/poland.png" />
                        </a>
                    </li>
                    <li>
                        <a title="For Vietnamese Students" href="/vi">
                            <img src="/images/flags/vietnam.png" />
                        </a>
                    </li>
                    <li>
                        <a title="For English Students" href="/en">
                            <img src="/images/flags/england.png"  />
                        </a>
                    </li>
                    <li>
                        <a title="For Chinese Students" href="/zh">
                            <img src="/images/flags/china.png" />
                        </a>
                    </li>
                    <li>
                        <a id="fb-icon" target="_blank" title="facebook" href="https://www.facebook.com/konwersatoriummuzyczne/">
                            <img src="/images/flags/fb-art.png" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" title="instagram" href="https://www.instagram.com/konwersatoriummuzyczne/">
                            <img src="/images/flags/ig-art.png" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" title="YouTube" href="https://www.youtube.com/channel/UCpISipwaVRA4S16_j3ntGWA">
                            <img src="/images/flags/yt-art.png" />
                        </a>
                    </li>
                </ul>
                <!--End of Social Icons in Header-->
            </aside>
            <!--Main Navigation-->

            
            <nav id="nav-main">
                <ul>
                {% for menu in menuArr %}
                    <li>
                        <a href="/{{ lang }}#{{ menu.getCode }}">{{ menu.getNavLink }}</a>
                    </li>
                {% endfor %}

                    <li class="mobile-links">
                        <a title="Dla Polskich Studentów" href="/pl">
                            <img src="/images/flags/poland.png" />
                        </a>
                    </li>
                    <li class="mobile-links">
                        <a title="For Vietnamese Students" href="/vi">
                            <img src="/images/flags/vietnam.png" />
                        </a>
                    </li>
                    <li class="mobile-links">
                        <a title="For English Students" href="/en">
                            <img src="/images/flags/england.png"  />
                        </a>
                    </li>
                    <li class="mobile-links">
                        <a title="For Chinese Students" href="/zh">
                            <img src="/images/flags/china.png" />
                        </a>
                    </li>
                    <li class="mobile-links">
                        <a href="https://www.facebook.com/konwersatoriummuzyczne/"><img src="/images/flags/fb-art.png">Dołącz do nas na Facebooku</a>
                    </li>
                    <li class="mobile-links">
                        <a href="https://www.instagram.com/konwersatoriummuzyczne/"><img src="/images/flags/fb-art.png">Dołącz do nas na Instagram</a>
                    </li>
                    <li class="mobile-links">
                        <a href="https://www.youtube.com/channel/UCpISipwaVRA4S16_j3ntGWA" target="_blank"><img src="/images/flags/yt-art.png">Sprawdź nasz kanał YouTube</a>
                    </li>
                </ul>
            </nav>
            <!--End of Main Navigation-->
            <div id="nav-trigger">
                <span></span>
            </div>
            <nav id="nav-mobile">
            </nav>
        </div>
    </div>
</div>
<!--End of Header-->
